<!-- <h1>Requests</h1>

<% @Requests.each do |Request|%>
<h2><%= Request.name%></h2>
<p><%= Request.biography%></p>
<a class="btn btn-primary" href="<%= Request_path(Request.id)%>">yo</a>
<a class="btn btn-primary" href="<%= edit_Request_path(Request.id)%>">edit</a>
<a class="btn btn-danger" data-confirm="are you sure ?" data-method="delete" href="<%= Request_path(Request.id)%>">supp</a>

<%end%> -->
